hr {
    height: 3px;
    width: 200px;
    text-align: center;
    position: relative;
    background: #2C3C9E;
    margin: 0;
    margin-bottom: 20px;
    border: 0;
}
.panel-title {
	font-weight: bold;
}