.container {
  font-family: "Source Sans Pro";
}

hr {
    height: 3px;
    width: 200px;
    text-align: center;
    position: relative;
    background: #2C3C9E;
    margin: 0;
    margin-bottom: 20px;
    border: 0;
}
.panel-title {
	font-weight: bold;
}
.panel-heading{
  text-decoration: none;
  color: #333;
  border-radius: 0;
  margin: 0;
  background-color: #ddd;
}
.panel-title{
  padding: 10px 0;
}
section{
  padding: 80px 0;
}
.panel-default{
  margin: 0;
  border-radius: 0;

}
.panel-group .panel+.panel{
    margin-top: 3px;
    border-radius: 0 !important;
}
