.logo {
	display: block;
    margin: auto;
    width: 70%;
    height: 50%;
}
h1 {
	text-align: center;
}
.photo-margin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 60%;
  height: 40%;

}

.india-map-div {
  display: flex;
  justify-content: center;
}

.india-map {
  height: 300px;
  width: 300px;
}
