	margin: 0 auto;
body {
  font-family: "Source Sans Pro";
}
h1{
	font-size: 3em;
  font-family: "Source Sans Pro";
}
h2{
	font-size: 2.75em;
  font-family: "Source Sans Pro";
}
p {
	font-size: 1.5em;
  font-family: "Source Sans Pro";
}
ul, li {
	font-size: 1.25em;
  font-family: "Source Sans Pro";
}
span{
  font-family: "Source Sans Pro";
}
center{
    font-family: "Source Sans Pro";
}
a {
  font-family: "Source Sans Pro";
	font-weight: bold;
	color:#ffa538;
}
a:hover {
  font-family: "Source Sans Pro";
	font-weight: bold;
	text-decoration: none;
	color:#8980f5;
}
section>h1{
	padding-top: 30px;
}
.bod{
	padding: 50px 0;
}
.blue{
	color:#2C3C9E;
}
.hero{
	width: 100%;
}
.mastHero{
	font-size: 4em;
}
.mastSubHero{
	margin-top: 30px;
	font-size: 2.3em;
  font-family: "Source Sans Pro";
}
footer {
  background-color: #2C3C9E;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 1px;
  font-family: "Source Sans Pro";
}
nav {
  text-align: center;
	margin: 25px 0;
}
.grey{
	background-color: rgba(137, 128, 245, 0.1);

}
.navImage{
	height: 4em;
}
nav ul {
  padding-left: 0;
}
.mast{
	background-image: url(../images/landingBg.png);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	color: #fff;
	height: 500px;
}
.overlay{
	padding: 75px 0;
	width: inherit;
	height: inherit;
	background-color: rgba(44,60,158, 0.33);
}
.button {
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #fff;
  border: 2.5px solid #fff;
  font-size: 1.3em;
  font-weight: 800;
	border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 20px 0;
	color: #ffa538;
  margin-right: 10px;
  font-family: "Source Sans Pro";
}
.button:hover {
  color: #2C3C9E;
  border-color: #2C3C9E;
	text-decoration: none;
}
.button.cta {
  background: #ffa538;
  color: #fff;
  border-color: #ffa538;
}
a.button.cta:hover {
  background: #8980f5;
  color: #fff;
  border-color: #8980f5;
}
a.join-link:hover {
  color: #8980f5;
}
.buttons{
	margin-top: 60px;
}
.mobile-toggle {
  float: right;
  clear: both;
  text-transform: uppercase;
  font-size: 0.8em;
  z-index: 999;
  display: none;
}

.pics-wrapper {
  position: inherit;
 /* margin-left: 55%;*/
}
.about-pic{
	text-align: center;
}
.next-pic {
  width: 100%;
  height: 50%;
}
.bigno{
	text-align: center;
}
.photo-margin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40%;
}
h3 {
  text-align: left;
  margin-left: 120px;
  font-family: "Source Sans Pro";
}
.india-map-div {
  display: flex;
  justify-content: center;
}
.india-map {
  height: 300px;
  width: 300px;
}
.navbar-brand {
  padding: 8px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  margin-left: 10px;
}
.navbar{
  height: 80px;
}
.navbarEdit .navbar-brand {
  margin-left: 20px;
  height: 80px;
}
.navbarEdit .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbarEdit .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-alignit .navbar-header {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 80px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: inline-block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color : #ffa538;
  font-size: 30px;
}
.navbar-default .navbar-nav>li>a:hover{
  color : #8980f5;
  font-size: 30px;
}
.navbar-default{
  font-size: 20px;
  border-color: white;
  background-color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: white;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #8980f5;
}

hr {
    height: 2px;
    width: 100px;
    text-align: center;
    position: relative;
    background: #2C3C9E;
    margin: 0;
    margin-bottom: 20px;
    border: 0;
}
.schoolLogo{
	height: 100px;
	padding: 10px;
	opacity: 0.8;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}
.schoolLogo:hover{
	opacity: 1;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

.fa{
		padding: 10px;
		color:#2C3C9E;
}

.fa:hover{
	color: #ffa538;
	text-decoration: none;
}
