.container {
	font-family: "Source Sans Pro";
}
.border {
	text-align: center;
}
.profile {
	text-align: center;
	border-style: round;
	font-size: 10px;
}

.img-wrapper>img {
	width: 100%;
	height: inherit;
  padding: 20px;
	border-radius: 50%;
}

.pName{
	font-size: 2em;
	font-weight: bolder;
}
.pPos{
	font-weight: bold;
}
.pSchool{
	padding-top: 5px;
}
section{
	padding: 30px 0;
}
